body {
  background: url("images/bg.jpg");
  min-height: 80vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.container-board {
  margin-top: 20px;
  margin-left: 400px;
  width: 448px; 
  background-image: linear-gradient(#26e686, #e6ee74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-dice {
  margin-top: 5px;
  margin-left: 400px;
  width: 446px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(20deg, #14af61, #eaf82a 80%);
}

.box-number {
  width: 70px;
  height: 70px;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: linear-gradient(20deg, #14af61, #eaf82a 80%);
}

span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

img {
  display: block;
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 90px;
  width: 200px;
  height: 90px;
  background-image: linear-gradient(19deg, #1dabca 0%, #b721ff 100%);
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-image: linear-gradient(#1dabca, #b721ff);
}

.btn:active {
  transform: translateY(4px);
}

.active{
  background-image: linear-gradient(20deg, #184e33, #9fa547 80%);
}